/* ----------------------------------------------------------------

	404.scss

-----------------------------------------------------------------*/
.error-404 {
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left center;

    .error-content {
        padding-top: 15rem;
        padding-bottom: 3.75rem;

        .error-title {
            font-size: 19.375rem;
            line-height: 1;
            letter-spacing: 3.75rem;

            @include media-breakpoint-down(md) {
                letter-spacing: 0;
            }

            @include media-breakpoint-down(sm) {
                font-size: 14rem;                
            }
        }

        p {
            font-size: 1.5625rem;
            font-weight: 300;
            letter-spacing: 0.05rem;
        }

        #contact-info {
            margin-top: 11.25rem;
        }
    }
}

#error-sidebar {
    h3 {
        font-size: 1.875rem;
    }

    .sub-icon {
        font-size: 1.325rem;
        overflow: hidden;
          text-align: center;

        &:before,
        &:after {
            background-color: $theme-color;
            content: "";
            display: inline-block;
            height: 1px;
            position: relative;
            vertical-align: middle;
            width: 9rem;
        }

        &:before {
            right: 0.5em;
            margin-left: -50%;
        }

        &:after {
            left: 0.5em;
            margin-right: -50%;
        }
    }

    .line {
        height: 1px;
        background-color: $theme-color;
        width: 5rem;
        margin: auto;
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
    }
}