/* ----------------------------------------------------------------

	Contact.scss

-----------------------------------------------------------------*/
#contact {
	label {
		color: $secondary;
		font-size: 0.75rem;
		font-family: $body-font;
		display: block;
	}

	button {
		font-size: 1.125rem;
		padding: 1.5rem 4.5rem;
		letter-spacing: 0.1rem;
		font-weight: 500;
		font-family: $body-font;
	}

	p {
		font-size: 0.875rem;
		line-height: 1.3rem;
		color: #9f9f9f;
	}
}