/* ----------------------------------------------------------------

	Contact.scss

-----------------------------------------------------------------*/
#contact {
	label {
		color: $secondary;
		font-size: 0.75rem;
		font-family: $body-font;
		display: block;
	}

	p {
		color: #9f9f9f;
	}
}