
/* ----------------------------------------------------------------

	pagetitle.scss

-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Page Title
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Add here styles for page title. Thanks!
-----------------------------------------------------------------*/

#page-title {
	position: absolute;
	height: 100%;
	top: 0;
	right: 0;
	left: 0;

	.title {
		font-size: 8.75rem;
		line-height: 1;
		letter-spacing: 0.5rem;
		font-weight: 500;

		@include media-breakpoint-down(sm) {
			font-size: 6rem;
		}
	}

	a {
		text-decoration: none;
		padding: 1.8rem 6rem;
		color: #fff;
		font-size: 1.125rem;
		font-weight: 500;
		letter-spacing: 0.1rem;
	}
}