/*-----------------------------------------------------------------------------------

	Shortcodes: timeline.scss

-----------------------------------------------------------------------------------*/

/* ----------------------------------------------------------------
	Timeline Styles
-----------------------------------------------------------------*/


.events {
    border-color: #efefef;

    .event {
        position: relative;
        margin-bottom: 4.75rem;

        .event-date {
            margin-top: 2rem;

            &:before {
                content: "";
                display: inline-block;
                height: 1px;
                position: relative;
                vertical-align: middle;
                width: 17rem;
                background-color: $secondary;
                margin-right: 2rem;
            }
        }

        .event-detail {
            font-size: 1.25rem;
            line-height: 2rem;
            color: #83746d;
            letter-spacing: 0.05rem;
        }     

        .line {
            position: absolute;
            top: 6.25rem;
            left: 0;
        
            div {
                width: 9.375rem;
                height: 1px;
                background-color: $secondary;
                margin-bottom: 2.375rem;
            }
        
            @include media-breakpoint-down(lg) {
                display: none;
            }
        }
    }
}